/* * {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
} */

/* body {
  background-color: #202020;
  color: #f0f0f0;
}

a {
  color: #f0f0f0;
}

a:visited {
  color: yellow;
}

a:hover,
a:active {
  color: red;
}

table,
th,
tr,
td,
caption {
  border: 1px, solid, #f0f0f0;
  border-collapse: collapse;
  padding: 0.5rem;
}

.story {
  color: purple;
}

#lorem {
  color: goldenrod;
}

p span {
  color: red;
} */

/* FLOATS */
.block {
  width: 30vw;
  height: 30vw;
  background-color: goldenrod;
  color: #f0f0f0;
  padding: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.clear {
  clear: both;
}

.float-container {
  background-color: gold;
  display: flow-root;
}

/* FLEX */

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  align-content: center;
}

.box {
  /* min-width: 100px; */
  height: 100px;
  background-color: #000;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-basis: 100px; */
  /* flex-grow: 1; */

  flex-basis: 200px;
  flex-shrink: 1;
}

.box:nth-child(2) {
  /* flex-grow: 3; */
  flex-shrink: 2;
}

/* IMAGES */

img {
  display: block;
  width: 100%;
  height: auto;
}

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  min-width: 100px;
  border: 5px double gray;
}

:root {
  --BGCOLOR: black;
  --COLOR: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  body {
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
  }
}
