body {
  background-color: #202020;
  color: #f0f0f0;
}

a {
  color: #f0f0f0;
}

a:visited {
  color: yellow;
}

a:hover,
a:active {
  color: red;
}

table,
th,
tr,
td,
caption {
  border: 1px, solid, #f0f0f0;
  border-collapse: collapse;
  padding: 0.5rem;
}
